/* css file for the PCS responsive assignment */

/* non-moving header*/

.nonmovingheader {
position: fixed;
width: 100%;
z-index: 99999;
background: pink;
}

.firstthing {
	padding-top: 200px;
}

.largeoctopus {
	width: 100px;
	margin-left: auto;
	margin-right:auto;
	display: block;
}